In [4]:
import yfinance as yf

def fetch_mutual_funds_data(symbol):
    try:
        fund_data = yf.Ticker(symbol)
        return fund_data.history(period="1y")
    except Exception as err:
        print(f"An error occurred: {err}")

if __name__ == "__main__":
    fund_symbol = "YOUR_MUTUAL_FUND_SYMBOL"  # Replace this with the symbol of the mutual fund you want to fetch data for

    mutual_funds_data = fetch_mutual_funds_data(fund_symbol)

    if mutual_funds_data is not None:
        # Now you can work with the mutual_funds_data DataFrame
        print(mutual_funds_data)
    else:
        print("Failed to fetch data for the mutual fund.")

YOUR_MUTUAL_FUND_SYMBOL: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
import yfinance as yahooFinance


GetFacebookInformation = yahooFinance.Ticker("META")

# display Company Sector
print("Company Sector : ", GetFacebookInformation.info['sector'])

# display Price Earnings Ratio
print("Price Earnings Ratio : ", GetFacebookInformation.info['trailingPE'])

# display Company Beta
print("Company Beta : ", GetFacebookInformation.info['beta'])

Company Sector :  Communication Services
Price Earnings Ratio :  41.5655
Company Beta :  1.21448

In [16]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("bcg", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BCG']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2017-01-01 -> 2017-04-30)')

In [14]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,201.337357,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,202.535172,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,202.374298,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,203.098343,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,202.427902,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,212.923630,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,214.162582,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,214.027878,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,214.207474,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,213.740631,63532800